{# template racine (niveau 2)  #}
{% extends 'Layouts/layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/vente.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}

{% block body %}

    <div id="content">
        <header>
            {% include 'Layouts/_header.html.twig' %}
        </header>

        <div id="vue">
            <div id="quantite_panier">
                {{ render(controller('App\\Controller\\AcceuilController::afficherQauntitePanierAction')) }}
            </div>
            <h1>
                {% block titre_principal %}
                {% endblock %}
            </h1>
            {% block bienvenue %}{% endblock %}
            {% include 'Layouts/_layout_flash.html.twig' %}
            <div id="menu">
                {% include 'Menu/_menu.html.twig' %}
            </div>
            {% block vue %}{% endblock %}
        </div> <!-- Fin de #vue -->
    </div> <!-- Fin de #content -->

    <footer>
        {% include 'Layouts/_footer.html.twig' %}
    </footer>
{% endblock %}
